body {
    text-align: center;
    background-color: #348f40;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;
}

.cell {
    height: 100px;
    width: 100px;
    border-style: none;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

img {
    height: 75px;
    width: 75px;
    pointer-events: none;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

.start-game {
    margin-top: 25px;
}

.clear-board {
    margin-top: 15px;
}

.start {
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.clear {
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}

#box {
  height: 200px;
  width: 300px;
  background-color: rgb(226, 222, 162);
  text-align: center;
  box-shadow: 10px 5px 5px rgb(231, 185, 163);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#box p {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#moveIt {
    display: flex;
    align-items: center;
}

#coordList {
    display: flex;
    align-items: center;
}

